{% extends 'base.html.twig' %}

{% block title %}Jumperpich | Overview Charts   {% endblock %}

{% block body %}

    <div class="container-fluid main">

        <!-- Vertical navbar -->
        {{ include('vertical_nav.html.twig') }}
        <!-- End vertical navbar -->
        <!-- Page content holder -->

        <div class="page-content p-5 text-center text-dark" id="content">

            <div class="container-fluid mt-4">
                <div class="row">
                    <div class="col">
                        <!-- Semaine sessions -->
                        <iframe width="600" height="371" seamless frameborder="0" scrolling="no"
                                src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSzE-n-tqIR9dXY05enOlboAFYRIsC9bGNUri11vnnZ3vWfx_9wWxwJg9f1xFpyIRAJOlDa-_NMAIci/pubchart?oid=1873318278&amp;format=interactive"></iframe>
                    </div>
                    <div class="col">
                        <!-- Année session -->
                        <iframe width="600" height="371" seamless frameborder="0" scrolling="no"
                                src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSzE-n-tqIR9dXY05enOlboAFYRIsC9bGNUri11vnnZ3vWfx_9wWxwJg9f1xFpyIRAJOlDa-_NMAIci/pubchart?oid=1353119386&amp;format=interactive"></iframe>
                    </div>
                </div>
            </div>

            <div class="container-fluid mt-4">
                <div class="row">
                    <div class="col">
                        <!-- Top Browsers -->
                        <iframe width="600" height="371" seamless frameborder="0" scrolling="no"
                                src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSzE-n-tqIR9dXY05enOlboAFYRIsC9bGNUri11vnnZ3vWfx_9wWxwJg9f1xFpyIRAJOlDa-_NMAIci/pubchart?oid=840231947&amp;format=interactive"></iframe>
                    </div>
                    <div class="col">
                        <!-- Top Country -->
                        <iframe width="600" height="371" seamless frameborder="0" scrolling="no"
                                src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSzE-n-tqIR9dXY05enOlboAFYRIsC9bGNUri11vnnZ3vWfx_9wWxwJg9f1xFpyIRAJOlDa-_NMAIci/pubchart?oid=732460746&amp;format=interactive"></iframe>
                    </div>
                </div>
            </div>

            <div class="container-fluid mt-4">
                <div class="row">
                    <div class="col">
                        <!-- Top Devide -->
                        <iframe width="600" height="371" seamless frameborder="0" scrolling="no"
                                src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSzE-n-tqIR9dXY05enOlboAFYRIsC9bGNUri11vnnZ3vWfx_9wWxwJg9f1xFpyIRAJOlDa-_NMAIci/pubchart?oid=354732079&amp;format=interactive"></iframe>
                    </div>
                    <div class="col">
                        <!-- Users actifs -->
                        <iframe width="600" height="371" seamless frameborder="0" scrolling="no"
                                src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSzE-n-tqIR9dXY05enOlboAFYRIsC9bGNUri11vnnZ3vWfx_9wWxwJg9f1xFpyIRAJOlDa-_NMAIci/pubchart?oid=259554399&amp;format=interactive"></iframe>
                    </div>
                </div>
            </div>

            <div class="container-fluid mt-4">
                <div class="row">
                    <div class="col">
                        <!-- Total Users -->
                        <iframe width="600" height="371" seamless frameborder="0" scrolling="no"
                                src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSzE-n-tqIR9dXY05enOlboAFYRIsC9bGNUri11vnnZ3vWfx_9wWxwJg9f1xFpyIRAJOlDa-_NMAIci/pubchart?oid=1383298086&amp;format=interactive"></iframe>
                    </div>


                    <div class="col">
                    </div>
                </div>
            </div>

        </div>
    </div>




{% endblock %}