{% extends 'base.html.twig' %}

{% block title %}Jumperpich | Overview Charts   {% endblock %}

{% block body %}

<div class="container main">

    <!-- Vertical navbar -->
    {{ include('vertical_nav.html.twig') }}
    <!-- End vertical navbar -->
    <!-- Page content holder -->

    <div class="page-content p-5 text-center text-dark" id="content">


        <h1>OVERVIEW</h1>

    </div>
</div>




{% endblock %}