

<footer class="section footer-classic text-center footer">
    <div class="container p30">
        <p>© 2019 Jumperpich.{% trans %}Tous droits réservés.{% endtrans %}</p>
        <p>{% trans %}Désign, Développement & Création par {% endtrans %}<a href="https://www.arnaudduthoit.fr" style="color: #FF69B4!important"> Arnaud Duthoit</a>
        </p>
        <p class="mx-auto">
        <a href="{{ path('mentions') }}">{% trans %}Mentions Legales{% endtrans %} |</a>
        <a href="{{ path('RGPD') }}">{% trans %}RGPD{% endtrans %} |</a>
        <a href="{{ path('faq') }}">{% trans %}FAQ{% endtrans %} |</a>
        <a href="{{ path('contact') }}">{% trans %}Me contacter{% endtrans %}</a>
        </p>
    </div>
</footer>