public/images
public/media
public/mp3
**/.idea
.env
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
.phpunit
/phpunit.xml
/.web-server-pid
/public/media/cache/
/node_modules/
npm-debug.log
yarn-error.log
/phpunit.xml
.phpunit.result.cache

