{% extends 'base.html.twig' %}

{% block title %}Jumperpich | Nouveau Tag  {% endblock %}

{% block body %}

    <div class="container-fluid">

        <div id="loading">
            <img src="{{ asset('pictures/loader.gif') }}" alt="Website Loader">
        </div>

        <div class="container main">


            <!-- Vertical navbar -->
            {{ include('vertical_nav.html.twig') }}
            <!-- End vertical navbar -->
            <!-- Page content holder -->

            <div class="page-content p-5 text-center" id="content">

                <h6><abbr>Creation nouveau Tag</abbr></h6>

                {{ include('tag/_form.html.twig') }}

                <a href="{{ path('tag_index') }}" class="btn btn__custom mt-4">Retour à la liste</a>
            </div>

        </div>
    </div>

{% endblock %}


