{% extends 'base.html.twig' %}

{% block body %}



    <div class="container-fluid" style="padding-top: 83px;min-height:100vh">


    <div class="container my-4 py-4 reveal text-center" id="recent">

        <h6><abbr class="reveal-1">{% trans %}Formulaire envoyé{% endtrans %} !</abbr></h6>

    <H2 class="text-center mt-4 pt-4" style="color:black;min-height: 50vh; display: flex;align-items: center;justify-content: center;">
        <strong>{% trans %}Merci ! J'ai bien reçu ton message{% endtrans %}.<br>{% trans %}Je t'ai envoyé un mail de confirmation{% endtrans %}.</strong>
    </H2>


        <div class="text-center mt-4 pt-4">
            <a href="{{ path('home') }}" class="btn btn__custom f_size">
                {% trans %}Retourner à l'accueil{% endtrans %}</a>
        </div>

    </div>

{% endblock %}