{% extends 'base.html.twig' %}

{% block body %}



    <div class="container-fluid main">


    <div class="container my-4 py-4 text-center" id="recent">

        <h6><abbr>{% trans %}Formulaire envoyé{% endtrans %} !</abbr></h6>

        <H2 class="text-center mt-4 pt-4 d-flex align-items-center justify-content-center"
            style="color:black;min-height: 50vh">
            <strong>{% trans %}Merci ! J'ai bien reçu ton message{% endtrans %}
                .<br>{% trans %}Je t'ai envoyé un mail de confirmation{% endtrans %}.</strong>
        </H2>


        <div class="text-center mt-4 pt-4">
            <a href="{{ path('home') }}" class="btn btn__custom">
                {% trans %}Retourner à l'accueil{% endtrans %}</a>
        </div>

    </div>

{% endblock %}