{% if app.request.locale in ['fr','fr_BE','fr_BJ','fr_BF','fr_BI','fr_CM','fr_CA','fr_CF','fr_TD','fr_KM',
    'fr_CG', 'fr_CD','fr_CI','fr_DJ','fr_GQ','fr_FR','fr_GA','fr_GP','fr_GN','fr_LU','fr_MG','fr_ML','fr_MQ',
    'fr_MC','fr_NE','fr_RW','fr_RE','fr_BL','fr_MF','fr_SN','fr_CH','fr_TG'] %}

<h3>Message de la part de Jumperpich</h3>

Bonjour !

J'ai bien reçu ton message.

Je reviendrais vers toi prochainement !

Merci :)

{% else %}

<h3>Message from Jumperpich</h3>

Hi !

I received your message.

I'll come back to you soon!

Thank you :)

{% endif %}


